.App{
  width: 400px;
  margin: 100px auto;
  border: 1px solid black;
  padding: 10px;
}

.prevValues{
  display: flex;
  justify-content: end;
  padding: 10px;
  font-size: 18px;
}

.latestValues{
  display: flex;
  justify-content: end;
  font-size: 40px;
  font-weight: bold;
  padding: 0 10px;
}

.buttonContainer{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}


button{
  width: 100px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-top: 1px groove gray;
  border-bottom: none;
  border-left: 1px groove gray;
  border-right: none;
  cursor: pointer;
  height: 85px;
}

button:hover{
  background-color: rgb(182, 182, 182);
  opacity: 0.5;
}

.arithmetic-container button{
  border-right: 1px groove gray;
}

.arithmetic-container button:nth-child(5){
  border-bottom: 1px groove gray;
}

.numbers-container button:nth-child(n+11)
{
  border-bottom: 1px groove gray;
}

.buttonContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.numbers-container{
  grid-column-start: 1;
  grid-column-end: 3;
}

.arithmetic-container{
  grid-column-start: 3;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

.arithmetic-container button {
  background-color: coral;
}